<% layout("layouts/boilerplate")%>

  <div class="row"> 
    <div class="col-8 offset-2"> 
      <br><br>
    <h3><b>Create a New Listing</b></h3>
    <form method="POST" action="/listings"  class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="mb-3">
      <label for="title" class="form-label">title</label>
      <input name="listing[title]" 
      placeholder="enter title"
      type="text" 
      class="form-control"
      required>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please provide a valid price.</div>
      </div>
      
      <div class="mb-3">
      <label for="description" class="description">description</label>
      <textarea
      name="listing[description]"
      placeholder="enter description" 
      class="form-control"
      required></textarea>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please write a description</div>
      </div>
      
      <div class="mb-3">
      <label for="image" class="form-label">Image upload</label>
      <input name="listing[image]" 
       placeholder="enter image url link" 
       type="file"
       class="form-control"
       required>
       <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please provide a valid url.</div>
      </div>

    <div class="row">
      <div class="mb-3 col-md-4">
      <label for="price" class="form-label">price</label>
      <input name="listing[price]" 
      placeholder="1200" 
      type="number"
      class="form-control"
      required>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please provide a valid price.</div>
      </div>
      
      <div class="mb-3 col-md-8">
      <label for="country" class="form-label">country</label>
      <input name="listing[country]" 
      placeholder="India" 
      type="text"
      class="form-control"
      required>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please provide a valid country.</div>
      </div>
      
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">location</label>
      <input name="listing[location]" 
      placeholder="Mangalore" 
      type="text"
      class="form-control"
      required>
       <div class="valid-feedback">Looks good!</div>
       <div class="invalid-feedback">Please provide a valid location.</div>
      </div>
      
      <button class="btn btn-dark add-btn">Add</button>
    </form>
    </div>
    </div>
    <br><br>

 
