body{
   font-family: "Plus Jakarta Sans", sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   
}

.container{
flex: 1;
}

.navbar{
    height: 5rems;
    background-color: white;
}

.fa-fan{
   color: #fe424d; 
   font-size: 2rem;
}

.nav-link{
  color: #222222 !important;  
}
/*footer*/
.f-info-links a{
    text-decoration:none ;
    color: #222222 ;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
     justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    background-color: rgb(231, 224, 224);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* cards */
.listing-card{
border: none !important;
margin-bottom: 2rem;  
}

.card-img-top{
  border-radius: 1rem;  
  width: 100%;
  object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card-effect */
.card-img-overlay{
  opacity: 0;  
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page */
.add-btn{
    background-color: #fe424d !important;
}

/* edit-page */
.edit-btn{
    background-color: #fe424d !important;
}

/* show page */
.show-img{
height: 40vh;
}
.edit-btn{
    background-color: #fe424d;
}